
        <div class="col-4">

          <div class="card bg-light my-5 shadow">
              <h3 class="card-header">{{article.title | title}}</h3>
              <img height="350px" class="rounded-circle"  src="{{article.image}}" alt="Card image">
              <div class="card-body">
                <p class="card-text">{{article.intro }}</p>
                <a href="#" class="btn btn-primary rounded">Lire la suite</a>
                <div class="my-3">
                    <a href="#" class="card-link">{{author | title}}</a>
                </div>
              </div>
              <div class="card-footer text-muted">
                  {{article.createdAt | date('d/m/Y à H:i')}}
              </div>
          </div>

      </div>