{% set user = {"firstname":"steve", "lastname":"xu", "role":"user", "isConnected":true} %}
{% set name = user.firstname ~ " " ~ user.lastname %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
                <a class="navbar-brand" href="{{ path('accueil')}}">Annonceo</a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarColor01">
    
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('accueil')}}">
                                <i class="fa fa-home"></i>
                                Accueil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-newspaper"></i>
                                Articles
                            </a>
                        </li>
                    </ul>
                    {% if app.user %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    {{ app.user.pseudo }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Mon Profil</a>
                                    <a class="dropdown-item" href="#">Mes Articles</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="dropdown-item" href="#">Espace Admin</a>
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('membre_new') }}">
                                <i class="fas fa-user-plus"></i>
                                inscription
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">
                                <i class="fas fa-sign-in-alt"></i>
                                connexion
                            </a>
                        </li>
                    </ul>
                    {% endif %}
    
    
                </div>
            </nav>
        </header>
        