{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<h1>Liste annonce</h1>
<a href="{{ path('annonce_new') }}" class="h1"><i class="fas fa-plus-circle fa-1x"></i> Créer</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Auteur</th>
            <th>Categorie</th>
            <th>Adresse</th>
            <th>Prix</th>
            <th>Date de creation</th>
            {% if is_granted('ROLE_MOD') %}
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for annonce in annonces %}
        <tr>
            <td>{{ annonce.id }}</td>
            <td>{{ annonce.titre }}</td>
            <td>{{ annonce.description }}</td>
            <td>{{ annonce.auteur.pseudo }}</td>
            <td>{{ annonce.categorie.nom }}</td>
            <td>{{ annonce.adresse ~ ' ' ~ annonce.codePostal ~ ' ' ~ annonce.ville }}</td>
            <td>{{ annonce.prix }} €</td>
            <td>{{ annonce.creation | date('d/m/Y') }}</td>
            <td>
                <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="btn btn-link"><i class="fa fa-edit"></i></a>
                {% if is_granted('ROLE_MOD') %}
                {{ include('annonce/_delete_form.html.twig') }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
