{% extends 'base.html.twig' %}

{% block title %}Liste Membre{% endblock %}

{% block body %}
    <h1>Liste Membre</h1>

    <a href="{{ path('membre_new') }}" class="h3"><i class="fas fa-plus-circle fa-1x"></i> Create new</a>
    <table class="table w-auto p-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Inscription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.roles ? membre.roles|json_encode : '' }}</td>
                <td>{{ membre.pseudo }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.telephone }}</td>
                <td>{{ membre.inscription | date('d/m/Y') }}</td>
                <td><a href="{{ path('membre_edit', {'id': app.user.id}) }}" class="btn btn-primary form-control"><i class="fa fa-edit"></i> Modifier</a>
                    {{ include('utilisateur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
