{{ form_start(form) }}

    
    {% if type is not defined or type == 0 %}
        {{ form_row(form.email) }}
    {% endif %}
    {% if type is not defined or type == 1 %}
        {{ form_row(form.password, {"attr": { "required": membre.id is null } }) }}
    {% endif %}
    {% if type is not defined or type == 0 %}
        {{ form_widget(form) }}
    {% endif %}
    <button class="btn font-weight-bold form-control bg-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
