{% extends 'base.html.twig' %}

{% block title %}Hello CommentaireController!{% endblock %}

{% block body %}
<h1>Liste Membre</h1>

<table class="table w-auto p-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Auteur</th>
            <th>Annonce</th>
            <th>Commentaire</th>
            <th>Inscription</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for commentaire in commentaires %}
        <tr>
            <td>{{ commentaire.id }}</td>
            <td>{{ commentaire.auteur.pseudo }}</td>
            <td>{{ commentaire.annonce.titre }}</td>
            <td>{{ commentaire.commentaire }}</td>
            <td>{{ commentaire.creation | date('d/m/Y') }}</td>
                {{ include('commentaire/_delete_form.html.twig') }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="12">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
