{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    <h1>Liste Categorie</h1>
    <a href="{{ path('categorie_new') }}" class="h1"><i class="fas fa-plus-circle fa-1x"></i> Créer</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="btn btn-link"><i class="fa fa-edit"></i></a>
                    {{ include('categorie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
